include ../mixins/bootstrap
include ../mixins/item-image

div(data-ng-init='show = "items"')
  +bootstrap-panel
    +bootstrap-panel-heading
      i.pull-right.fa.fa-plus.cursor-pointer(ng-click='show = (show === "creator" && "items") || "creator"')

      //- span(ng-click='$root.showPanel({ parent: parent, type: type }, "creator")')

      // TYPE

      h4.panel-title(data-ng-bind='type')

    +bootstrap-panel-body

      // CREATOR

      .creator.animate-show(ng-show='show === "creator"' data-type="{{ type }}" data-parent='{{ parent }}')

      // ITEMS

      .row(data-ng-hide='$root.loadedItems[item.parent || "Topic"]')
        .col-xs-12.text-center.padding Loading items...

      .row(data-ng-hide='($root.items | itemFilter:type:parent).length')
        .col-xs-12.text-center.padding Nothing here!
      
      .items(ng-repeat='item in $root.items | itemFilter:type:parent track by item._id')

        .item(id='item-{{item._id}}')

          // BOX
          
          .box
            .row
              .col-xs-12.padding(data-ng-class='{ "col-sm-4": ! isSplit }')
                +item-image
              
              .col-xs-12.padding(data-ng-class='{ "col-sm-8": ! isSplit }')
                .item-main
                  .box-promoted(data-ng-class='{ "text-right pull-right": ! isSplit, "is-split": isSplit }')

                    div(data-ng-show='is.in = ' + !!isSignedIn
                      data-ng-class='{ "col-xs-4": isSplit, "col-xs-12": ! isSplit}')
                      a.btn.btn-sm(data-ng-click='$show = (($show === "evaluator" && "-") || "evaluator"); $parent.show = "items"; $root.itemViewed = item._id') Promote

                    //- Promoted stat (times)
                    div.pnum(
                      data-ng-class='{ "col-xs-2": isSplit, "col-xs-12": ! isSplit}')
                        //- span(data-ng-bind='item.views')
                        //- span ,  
                        span(data-ng-bind='item.promotions')

                    //- Promoted stat (percent)
                    div.pnum(data-ng-bind='((item | calculatePromotionPercentage) || 0) + "%"'
                      data-ng-class='{ "col-xs-2": isSplit, "col-xs-12": ! isSplit}')

                    //- Details button
                    div(data-ng-class='{ "col-xs-4": isSplit, "col-xs-12": ! isSplit}')
                      a.btn.btn-sm(data-ng-click='$show = (($show === "details" && "-") || "details"); $parent.show = "items"; $root.itemViewed = item._id') &nbsp;Details&nbsp;

                  h4(data-ng-bind='item.subject | shorten: 75'
                    data-ng-class='{ "too-long": item.subject.length > 75 }'
                    title='{{ item-subject }}')
                  div.box-description.pre-text(ng-bind='item.description')
                  include navigator/references

          // COLLAPSERS

          .collapsers

            // EVALUATOR
            
            .evaluator.animate-show.padding(ng-show='$show === "evaluator" && show === "items" && $root.itemViewed === item._id')
              section(ng-repeat='evaluation in $root.evaluations | getEvaluationByItem:item._id')
                
                //- 1 of 5

                .row
                  .col-xs-12.padding
                    h2.text-center
                      span(data-ng-bind='evaluation.cursor')
                      span  of  
                      span(data-ng-bind='evaluation.limit')

                // Normal screen

                section.hidden-xs
                  // Image

                  .row
                    .col-sm-6.padding(
                      data-ng-repeat      =   'item in evaluation.current'
                    )
                      +item-image

                  // Subject

                  .row
                    .col-sm-6.padding(
                      data-ng-repeat      =   'item in evaluation.current'
                    )
                      h2(data-ng-bind='item.subject')

                  // Description

                  .row
                    .col-sm-6.padding(
                      data-ng-repeat      =   'item in evaluation.current'
                    )
                      .pre-text.entry-description(data-ng-bind='item.description')

                  // References

                  .row
                    .col-sm-6.padding(
                      data-ng-repeat      =   'item in evaluation.current'
                    )
                      include navigator/references

                  // Sliders

                  .row
                    .col-sm-6.padding(
                      data-ng-repeat      =   'item in evaluation.current'
                    )
                      .sliders

                  // Feedback

                  .row
                    .col-sm-6.padding(
                      data-ng-repeat      =   'item in evaluation.current'
                    )
                      textarea.feedback-entry.form-control(
                        placeholder       =   'Can you provide feedback that would encourage the author to create a statement that more people would unite around?',
                        data-ng-show      =   'item.subject'
                        data-ng-model     =   'evaluation.current[$index].$feedback')

                  // Promote

                  .row.padding-bottom
                    .col-sm-6.padding(
                      data-ng-repeat      =   'item in evaluation.current'
                    )
                      button.btn.btn-block(
                        data-ng-click   =   'evaluation.promote($index); closeEvaluation(evaluation.current.length)'
                        data-ng-show    =   'evaluation.current[1]'
                      ) Promote

                // Small screen

                section.hidden-sm.hidden-md.hidden-lg(
                  data-ng-repeat      =   'item in evaluation.current'
                  )

                  // image

                  .row
                    .col-xs-12
                      +item-image

                  .row
                    .col-xs-12
                      h2(data-ng-bind='item.subject')

                  .row
                    .col-xs-12
                      .pre-text.entry-description(data-ng-bind='item.subject')

                  .row.padding-bottom
                    .col-xs-12
                      .sliders

                  .row.padding-bottom
                    .col-xs-12
                      textarea.feedback-entry.form-control(
                        placeholder       =   'Can you provide feedback that would encourage the author to create a statement that more people would unite around?',
                        data-ng-show      =   'item.subject')

                  .row.padding-bottom
                    .col-xs-12
                      button.btn.btn-block(
                        data-ng-click   =   'evaluation.promote($index); closeEvaluation(evaluation.current.length)'
                        data-ng-show    =   'evaluation.current[1]'
                      ) Promote

                // Continue
                .row
                  .col-sm-12
                    button.btn.btn-block(
                      data-ng-click = 'evaluation.next.length ? evaluation.continue() : evaluation.finish(); closeEvaluation(evaluation.current.length)' 
                    )
                      span(data-ng-show='evaluation.next.length') Continue
                      span(data-ng-hide='evaluation.next.length') Finish
            
            // DETAILS

            .details.animate-show.padding(ng-show='$show === "details" && show === "items" && $root.itemViewed === item._id' ng-class=' { "active": $show === "details" && show === "items" && $root.itemViewed === item._id, "inactive": $show !== "details" || show !== "items" || $root.itemViewed !== item._id } ')
              section
                h3 Promoted
                .progress
                  .progress-bar.progress-bar-success(style='width: {{item | calculatePromotionPercentage}}%'
                    data-ng-bind='(item | calculatePromotionPercentage) + "%"')

                //- Has feedbacks

                div(data-ng-show='($root.feedbacks | feedbackFilter:{item:item._id}).length')
                  h3 Feedbacks!!
                  
                  div(
                    data-ng-repeat='feedback in $root.feedbacks | feedbackFilter:{item:item._id}')

                    hr
                    div.pre-text(ng-bind='feedback.feedback')

                //- No feedback and just created

                div(data-ng-hide='($root.feedbacks | feedbackFilter:{item:item._id}).length')
                  h3 Feedback pending

                  p While you are waiting for your feedback this is a great time to invite the people you know to join the effort to bring synergy to democracy.

                  textarea I'm helping to bring synergy to democracy by voicing my opinion. I'm participating in the topic: "Most important issues in the US"

                //- Votes

                .row
                  .col-xs-12
                    h3 Votes

                    //- For each criteria

                    .row(
                      data-ng-repeat        =   'criteria in $root.criterias | criteriaFilter:{type:item.type}'
                    )

                      .col-xs-4

                        //-
                            CRITERIA NAME
                        //-

                        h4(
                          data-ng-bind      =     'criteria.name'
                          data-toggle       =     "tooltip" 
                          data-placement    =     "top" 
                          title             =     "{{criteria.description}}"
                        )

                      .col-xs-8

                        //-
                            CHART
                        //-

                        div(data-charts='{{criteria._id}}' data-ng-show2='votes[criteria._id].total')

                          svg.chart(
                            id                  =   'chart-{{item._id}}-{{criteria._id}}'
                          )

                          //-
                              CHART SEPARATOR
                          //-
                          
                          hr(
                            data-ng-hide      =   'votes[criteria._id]'
                          )

                  hr


            // EDITOR

            .editor.animate-show(ng-show='$show === "editor" && show === "items" && $root.itemViewed === item._id')

            // TOGGLE ARROW

            .row.toggle-arrow
              .col-xs-12.text-center
                i.fa.cursor-pointer(ng-click='$show = (($show === "children" && "-") || "children"); $parent.show = "items"; $root.itemViewed = item._id'
                  data-ng-class='{ "fa-arrow-down": $show !== "children", "fa-arrow-up": $show === "children"}')

            // CHILDREN

            //- thereIsARelation(item._id, $root.itemViewed)

            .children.animate-show(ng-show='($root.itemHas(item, $root.itemViewed) || $root.itemViewed === item._id) && $show === "children"' data-loaded='{{false}}')
