mixin item-buttons (item)
  //- Number of times an item has been promoted

  button.item-toggle-promote.shy
    span.promoted=item.promotions || 0
    span  
    i.fa.fa-bullhorn

  div
  
  //- Item percentage of promotions

  button.item-toggle-details.shy
    span.promoted-percent=( item.views && item.getPromotionPercentage() || '0%')
    span  
    i.fa.fa-signal

  //- Counters

  div 
    - if ( item.type )
      - if ( item.type === 'Topic' )
        button.shy.counter
          span.related-count=related.Problem
          span 
          i.fa.fa-fire

      - else if ( item.type === 'Problem' )
        button.shy.counter
          span.related-count=(((related.Agree / (related.Agree + related.Disagree)) || 0) * 100) + '%'
          span 
          i.fa.fa-music
        button.shy.counter
          span.related-count=related.Solution
          span 
          i.fa.fa-tint

      - else if ( item.type === 'Solution' )
        button.shy.counter
          span.related-count=(((related.Pro / (related.Pro + related.Con)) || 0) * 100) + '%'
          span 
          i.fa.fa-music
    
    - else
      span.related

  //- problems


  .clear