// Meta

//- Encoding
meta(charset='utf-8')

//- Title
title=synapp.title

//- IE
meta(http-equiv="X-UA-Compatible" content="IE=edge")

//- Viewport
meta(name="viewport" content="width=device-width, initial-scale=1.0")

//- Env
meta(name="env" content=settings.env)

//- Google Analytics (only in production)

- if ( settings.env === 'production' )
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', "!{synapp['google analytics'].key}", 'auto'); ga('send', 'pageview');

//- Stylesheets
// Stylesheets
block stylesheets
  //- Font Awesome
  block stylesheet-font-awesome
    - var href

    //- When in production, use CDN
    
    - if ( settings.env === 'production' )
      - href = synapp['font awesome'].cdn

    - else
      //- Otherwise use bower
      - href = '/bower_components/font-awesome/css/font-awesome.min.css'
    
    link(rel='stylesheet' href=href)
      
  block css-app
    - if ( settings.env === 'production' )
      link(rel='stylesheet' href='/dist/synaccord.css')
    
    - else
      link(rel='stylesheet' href='/css/synaccord.css')

  //- C3 CSS
  block css-c3
    link(rel='stylesheet' href='/bower_components/c3/c3.css')
