#demographics.section
  img.img-responsive.tablet-40(src=synapp.profile.demographics.image)

  h2 Demographics

  .gutter.pre-text=synapp.profile.demographics.description

  .demographics-collapse.is-container
    .is-section

      .gutter
        .row
          .phone-30.gutter Race:

          .phone-70
            each race in config.race

              .row.gutter
                .watch-70.left=race.name
                .watch-30.left
                  input(type='checkbox')
        
        .row
          .phone-30.gutter Education:

          .phone-70.gutter
            select.watch-100
              option High School

        .row
          .phone-30.gutter Relationship:

          .phone-70.gutter
            select.watch-100
              each married in config.married
                option=married.name

        .row
          .phone-30.gutter Employment:

          .phone-70.gutter
            select.watch-100
              each employment in config.employment
                option=employment.name

  .row.toggle-arrow.padding.text-center
    i.fa.fa-arrow-down