section
  .row
    .col-xs-12.text-center

      h2
        span.cursor 1
        span  of 
        span.limit 5

      h4 Evaluate each item below

  //- Normal screen

  section.hidden-xs

    //- Image

    .row
      .col-sm-6.image
      .col-sm-6.image

    //- Subject

    .row
      .col-sm-6
        h3.subject Item's subject
      .col-sm-6
        h3.subject Item's subject

    //- Description

    .row
      .col-sm-6
        .pre-text.entry-description.description Item's description
      .col-sm-6
        .pre-text.entry-description.description Item's description

    //- References

    .row
      .col-sm-6.references
      .col-sm-6.references

    //- Sliders

    .row
      .col-sm-6.sliders
        .criteria-slider.template-model
          h4.criteria-name Criteria name
          input.slider(type='text' 
            data-slider-tooltip='hide'
            data-slider-min='-1'
            data-slider-max='1')
      .col-sm-6.sliders
        .criteria-slider.template-model
          h4.criteria-name Criteria name
          input.slider(type='text' 
            data-slider-tooltip='hide'
            data-slider-min='-1'
            data-slider-max='1')
