include promote
include details
//- include panel

mixin item-box (item, dontColllapse)

  - var id;
  - var views = 0;
  - var promotions = 0;
  - var percent = '0%';
  - var related = 0;
  - var subject = '';
  - var description = '';
  - var referenceUrl = '#';
  - var hasReference = false;
  - var referenceTitle;

  - if ( item )
    - id = 'item-' + item._id;
    - views = item.views
    - promotions = item.promotions
    - percent = item.getPromotionPercentage()
    - subject = item.subject
    - description = item.description

    - hasReference = item.references.length;
    - related = item.related;

    - if ( item._id.toString() === batch.item._id.toString() )
      - related = batch.related;

    - if ( hasReference )
      - referenceUrl = item.references[0].url;
      - referenceTitle = item.references[0].title;

  .item(id=id data-views=views)
    .item-media-wrapper
      .item-media
        - if ( item )
          img.img-responsive(src=item.image)

    .item-buttons
      button.item-toggle-promote.shy
        i.fa.fa-bullhorn
        span  
        span.promoted=promotions
        span  
        span.hide.caret
        span  

      div
      
      //- div.promoted-percent 0%
      button.item-toggle-details.shy
        i.fa.fa-signal
        span  
        span.promoted-percent=percent
        span  
        span.hide.caret

      div
        button.shy
          i.fa.fa-fire
          span 
          - if ( item )
            - if ( item.type === 'Topic' )
              span.related-count=related
              span.related-name  problem
            - else if ( item.type === 'Problem' )
              span.related-count=related
              span.related-name  solution
          
          - else
            span.related-count=related
            span.related-name  item
          span.related-count-plural=(related > 1 ? "s" : "")

      //- problems


      .clear

    .item-text
      .item-truncatable
        h4.item-subject.header
          a(href='#')=subject

        .item-description.pre-text=description

      h5.item-reference
        a(href=referenceUrl target='_blank' rel='nofollow' data-title=referenceTitle)=(referenceTitle || (hasReference && referenceUrl) || '')

      .clear.clear-text

    .item-arrow
      div
        i.fa.fa-arrow-down.cursor-pointer

    - if ( ! dontColllapse )
      .item-collapsers(class=item && item.nested ? 'show' : '')
        .editor.is-container
          .is-section

        .promote.is-container
          .is-section
            +promote()

        .details.is-container
          .is-section
            +details()

        .children.is-container(class=item && item.nested ? 'show' : '')
          .is-section(class=item && item.nested ? 'show' : '')
            block nested-items
              - if ( item && item.nested )
                - var type;

                - if ( item.type === 'Topic' )
                  - type = 'Problem'

                - if ( item.type === 'Problem' )
                  - type = [['Agree', 'Disagree'], 'Solution']

                - if ( Array.isArray(type) )
                  each t in type
                    - if ( Array.isArray(t) )
                      - var v = 1
                    - else
                      +panel({ type: t, parent: item._id, items: item.nested })

                - else
                  +panel({ type: type, parent: item._id, items: item.nested })

    .clear
