include promote
include details
//- include panel

mixin item-box (item, dontColllapse)

  - var id;
  - var views = 0;
  - var promotions = 0;
  - var percent = '0%';
  - var related = 0;
  - var subject = '';
  - var description = '';
  - var referenceUrl = '#';
  - var hasReference = false;
  - var referenceTitle;
  - var dataImage = '';

  - if ( item )
    - id = 'item-' + item._id;
    - views = item.views
    - promotions = item.promotions
    - percent = item.getPromotionPercentage()
    - subject = item.subject
    - description = item.description
    - dataImage = item.image

    - hasReference = item.references.length;
    - related = item.related;

    - if ( item._id.toString() === batch.item._id.toString() )
      - related = batch.related;

    - if ( hasReference )
      - referenceUrl = item.references[0].url;
      - referenceTitle = item.references[0].title;

  .item(id=id data-views=views)
    .item-media-wrapper
      .item-media
        img.img-responsive(src='http://res.cloudinary.com/hscbexf6a/image/upload/e_grayscale/v1411591207/283492_s_US_Flag_and_Constitution_swpubq.jpg'
          data-image=dataImage)

    .item-buttons
      button.item-toggle-promote.shy
        span.promoted=promotions
        span  
        i.fa.fa-bullhorn

      div
      
      //- div.promoted-percent 0%
      button.item-toggle-details.shy
        span.promoted-percent=percent
        span  
        i.fa.fa-signal

      div 
        - if ( item )
          - if ( item.type === 'Topic' )
            button.shy.counter
              span.related-count=related.Problem
              span 
              i.fa.fa-fire

          - else if ( item.type === 'Problem' )
            button.shy.counter
              span.related-count=((related.Agree / related.Agree + related.Disagree) || 0) + '%'
              span 
              i.fa.fa-music
            button.shy.counter
              span.related-count=related.Solution
              span 
              i.fa.fa-tint
        
        - else
          span.related

      //- problems


      .clear

    .item-text
      .item-truncatable
        h4.item-subject.header
          a(href='#')=subject

        .item-description.pre-text=description

      h5.item-reference
        a(href=referenceUrl target='_blank' rel='nofollow' data-title=referenceTitle)=(referenceTitle || (hasReference && referenceUrl) || '')

      .clear.clear-text

    .item-arrow
      div
        i.fa.fa-arrow-down.cursor-pointer

    - if ( ! dontColllapse )
      .item-collapsers(class=item && item.nested ? 'show' : '')
        .editor.is-container
          .is-section

        .promote.is-container
          .is-section
            +promote()

        .details.is-container
          .is-section
            +details()

        .children.is-container(class=(item && item.nested ? 'show is-shown' : '') + ' ' + (item && item.nested ? 'is-loaded' : ''))
          .is-section(class=item && item.nested ? 'show' : '')
            block nested-items
              - if ( item && item.nested )
                - var type;

                - if ( item.type === 'Topic' )
                  - type = 'Problem'

                - if ( item.type === 'Problem' )
                  - type = [['Agree', 'Disagree'], 'Solution']

                - if ( Array.isArray(type) )
                  each t in type
                    - if ( Array.isArray(t) )
                      - var v = 1
                    - else
                      +panel({ type: t, parent: item._id, items: item.nested })

                - else
                  +panel({ type: type, parent: item._id, items: item.nested })

    .clear
