include promote
include details
//- include panel

mixin item-box (item, dontColllapse)

  - var id = 'item-' + item._id;
  - var hasReference = item.references.length;
  - var referenceUrl = '#';
  - var referenceTitle;
  - var related = item.related;

  - if ( item._id.toString() === batch.item._id.toString() )
    - related = batch.related;

  - if ( hasReference )
    - referenceUrl = item.references[0].url;
    - referenceTitle = item.references[0].title;

  .item(id=id data-views=item.views)
    .item-media-wrapper
      .item-media
        img.img-responsive(src=item.image)

    .item-buttons
      button.item-toggle-promote.shy
        i.fa.fa-bullhorn
        span  
        span.promoted=item.promotions
        span  
        span.hide.caret
        span  

      div
      
      //- div.promoted-percent 0%
      button.item-toggle-details.shy
        i.fa.fa-signal
        span  
        span.promoted-percent=item.getPromotionPercentage()
        span  
        span.hide.caret

      div
        button.shy
          i.fa.fa-fire
          span 
          span=related
          span="  problem" + (related > 1 ? "s" : "")

      //- problems


      .clear

    .item-text
      .item-truncatable
        h4.item-subject.header
          a(href='#')=item.subject

        .item-description.pre-text=item.description

      h5.item-reference
        a(href=referenceUrl target='_blank' rel='nofollow' data-title=referenceTitle)=(referenceTitle || (hasReference && referenceUrl) || '')

      .clear.clear-text

    .item-arrow
      div
        i.fa.fa-arrow-down.cursor-pointer

    - if ( ! dontColllapse )
      .item-collapsers.show
        .editor.is-container
          .is-section

        .promote.is-container
          .is-section
            +promote()

        .details.is-container
          .is-section
            +details()

        .children.is-container.show
          .is-section.show
            block nested-items
              - if ( item.nested )
                +panel({ type: item.type, parent: item._id, items: item.nested })

    .clear
