mixin image (hand)
  .image.gutter(style='float: left; width: 40%' class=hand + '-item')

mixin subject (hand)
  .subject.gutter(class=hand + '-item')
    h4

mixin description (hand)
  .description.gutter.pre-text(class=hand + '-item')

mixin references (hand)
  .references.gutter(class=hand + '-item')
    a(rel='nofollow' target='_blank')

mixin sliders (hand)
  .sliders(class=hand + '-item')
    - for ( var i = 0; i < 4; i ++ )
      .criteria-wrapper
        .row
          
          .tablet-40
            h4
              button.criteria-name.shy.block Criteria
          
          .tablet-60(style='margin-top: 2.5em')
            input.block(type="range" min="-1" value="0" max="1" step="1")
        
        .row.is-container.criteria-description-section
          .is-section
            .gutter.watch-100.criteria-description

mixin feedback (hand)
  .feedback(class=hand + '-item')
    textarea.feedback-entry.block(
      placeholder = 'Can you provide feedback that would encourage the author to create a statement that more people would unite around?')

mixin promote-button (hand)
  .gutter(class=hand + '-item')
    button.block.promote Promote

mixin edit-and-go-again-button (hand)
  .gutter(class=hand + '-item')
    button.block.edit-and-go-again-toggle Edit and go again

mixin promote ()
  section
    header.promote-steps
      h2
        span.cursor 1
        span  of 
        span.limit 5

      h4 Evaluate each item below

    .items-side-by-side

      // 1 column

      .split-hide-up
        +image('left')
        +subject('left')
        +description('left')
        +references('left')
        +sliders('left')
        +feedback('left')
        +promote-button('left')
        +edit-and-go-again-button('left')

        +image('right')
        +subject('right')
        +description('right')
        +references('right')
        +sliders('right')
        +feedback('right')
        +promote-button('right')
        +edit-and-go-again-button('right')

      .split-hide-down

        .row
          .split-50.watch-100

            +image('left')
            
            +subject('left')
            
            +description('left')

          .split-50.watch-100

            +image('right')
            
            +subject('right')
            
            +description('right')

        .row
          .split-50.watch-100

            +references('left')

          .split-50.watch-100

            +references('right')

        .row
          .split-50.watch-100

            +sliders('left')

            +feedback('left')
          
          .split-50.watch-100
            
            +sliders('right')

            +feedback('right')

        h4.text-center Which of these is most important for the community to consider?

        .row
          .split-50.watch-100
            
            +promote-button('left')
          
          .split-50.watch-100

            +promote-button('right')

        .row
          .split-50.watch-100    
            
            +edit-and-go-again-button('left')
          
          .split-50.watch-100
            
            +edit-and-go-again-button('right')

      button.finish.block Neither

      .clear

