include image

mixin box(type)
  .box 
    .row
      .col-xs-12.col-sm-4
        h1.is-author
          a(href='/edit/')
            i.glyphicon.glyphicon-user
        div
          +item-image(type)

      .col-xs-9.col-sm-5
        h4(data-ng-bind=type + '.subject')
        div.box-description(data-ng-init=type + '.$maxChars = 100')
          span(data-ng-bind=type + '.description | shorten:' + type + '.$maxChars')
          span(data-ng-show=type + '.description.length > ' + type + '.$maxChars')
            span  
            a.more(href='#' data-ng-click='moreLess(' + type + ')') more
          a.more(href='#' data-ng-show=type + '.$maxChars === 1000' data-ng-click=type + '.$maxChars = 100')  less

      .box-promoted.col-xs-3.text-right
        h5 Promoted
        ul
          li(data-ng-bind=type + '.promotions')
          li(data-ng-bind='(' + type + ' | getPromoted) + "%"')
