//- # Item Box Mixin

//- Dependencies

include promote
include details
include item
include item-buttons
//- include panel

//-
  @mixin    item-box
  @arg      {Object?}   item
  @arg      {Boolean?}  dontCollapse
  @arg      {String?}   type

mixin item-box (item, dontColllapse, type)

  //- - var item = {};

  //- //- @type   String?
  //- - var id;
  //- //- @type   Number=0
  //- - var views = 0;
  //- //- @type   Number=0
  //- - var promotions = 0;
  //- //- @type   String="0%"
  //- - var percent = '0%';
  //- //- @type   Number=0
  //- - var related = 0;
  //- //- @type   String=""
  //- - var subject = '';
  //- //- @type   String=""
  //- - var description = '';
  //- //- @type   String="#"
  //- - var referenceUrl = '#';
  //- //- @type   Boolean=false
  //- - var hasReference = false;
  //- //- @type   String?
  //- - var referenceTitle;
  //- //- @type   String=''
  //- - var dataImage = '';
  //- //- @type           String=''
  //- //- @description    A class whether or not to show children
  //- - var showChildren = '';
  //- - var imageUrl = 'http://res.cloudinary.com/hscbexf6a/image/upload/e_grayscale/v1411591207/283492_s_US_Flag_and_Constitution_swpubq.jpg';

  //- //- If item is declared (static page), then update variables
  //- - if ( item && item.type === type )

  //-   - item.id     =   item._id;

  //-   - id            =   'item-' + item._id;
  //-   - views         =   item.views
  //-   - promotions    =   item.promotions
  //-   - percent       =   item.getPromotionPercentage()
  //-   - subject       =   item.subject
  //-   - description   =   item.description
  //-   - dataImage     =   item.image

  //-   - hasReference = item.references.length;
  //-   - related = item.related;

  //-   - if ( item._id.toString() === batch.item._id.toString() )
  //-     - related = batch.related;

  //-   - if ( hasReference )
  //-     - referenceUrl = item.references[0].url;
  //-     - referenceTitle = item.references[0].title;

  //-   - showChildren = item.nested ? 'show is-shown is-loaded' : '';

  - var item = item || {};

  - if ( item && item.type === type )

    - item.id     =   item._id;

  //- BEGIN HTML

  block item-media
    - if ( item.id )
      div!=item.imageHTML.replace(/\/>$/, ' class="img-responsive" data-image="' + item.image + '" data-rendered="true" />')
      
    - else
      div!=mongoose.model('Item').schema.methods.getImageHtml.apply({}).replace(/\/>$/, ' class="img-responsive" data-image />')

  block item-buttons
    +item-buttons(item)

  +item(item)

  //
    .item(id=id data-views=views)

      //- Item Media

      .item-media-wrapper
        .item-media

          - if ( item )
            div!=item.adjustImage().replace(/\/>$/, ' class="img-responsive" data-image="' + dataImage + '" data-rendered="true" />')
            
          - else
            div!=mongoose.model('Item').schema.methods.adjustImage.apply({}).replace(/\/>$/, ' class="img-responsive" data-image="' + dataImage + '" />')

      //- Item buttons

      .item-buttons

        //- Number of times an item has been promoted

        button.item-toggle-promote.shy
          span.promoted=promotions
          span  
          i.fa.fa-bullhorn

        div
        
        //- Item percentage of promotions

        button.item-toggle-details.shy
          span.promoted-percent=percent
          span  
          i.fa.fa-signal

        //- Counters

        div 
          - if ( item )
            - if ( item.type === 'Topic' )
              button.shy.counter
                span.related-count=related.Problem
                span 
                i.fa.fa-fire

            - else if ( item.type === 'Problem' )
              button.shy.counter
                span.related-count=(((related.Agree / (related.Agree + related.Disagree)) || 0) * 100) + '%'
                span 
                i.fa.fa-music
              button.shy.counter
                span.related-count=related.Solution
                span 
                i.fa.fa-tint

            - else if ( item.type === 'Solution' )
              button.shy.counter
                span.related-count=(((related.Pro / (related.Pro + related.Con)) || 0) * 100) + '%'
                span 
                i.fa.fa-music
          
          - else
            span.related

        //- problems


        .clear

      //- Item text

      .item-text
        .item-truncatable
          h4.item-subject.header
            a(href='#')=subject

          .item-description.pre-text=description

        h5.item-reference
          a(href=referenceUrl target='_blank' rel='nofollow' data-title=referenceTitle)=(referenceTitle || (hasReference && referenceUrl) || '')

        .clear.clear-text

      //- Item toggle arrow

      .item-arrow
        div
          i.fa.fa-arrow-down.cursor-pointer

      //- Item ollapsers

      - if ( ! dontColllapse )
        .item-collapsers(class=item && item.nested ? 'show' : '')

          //- Item Edit and go again
          
          .editor.is-container
            .is-section

          //- Promote item

          .promote.is-container
            .is-section
              +promote()

          //- Item details

          .details.is-container
            .is-section
              +details()

          //- Item children

          .children.is-container(class=showChildren)
            .is-section(class=item && item.nested ? 'show' : '')
              
              block nested-items

                //- Show nested items for static pages

                - if ( item && item.nested )
                  - var type;

                  - if ( item.type === 'Topic' )
                    - type = 'Problem'

                  - else if ( item.type === 'Problem' )
                    - type = [['Agree', 'Disagree'], 'Solution']

                  - else if ( item.type === 'Solution' )
                    - type = [['Pro', 'Con']]

                  - if ( type )

                    - if ( Array.isArray(type) )
                      
                      each t in type
                        
                        - if ( Array.isArray(t) )
                          .row
                            .tablet-50.left-split
                              +panel({ type: t[0], parent: item._id, items: item.nested })
                            .tablet-50.right-split
                              +panel({ type: t[1], parent: item._id, items: item.nested })
                        
                        - else
                          +panel({ type: t, parent: item._id, items: item.nested })

                    - else

                      +panel({ type: type, parent: item._id, items: item.nested })

      .clear
