//- Navigator's item box
//- @mixin box
//- @param {Object} item

include item-image

mixin item-box(item, isSplit)
  // Box item
  .box(data-type="{{" + item + ".type}}" data-loaded="{{false}}" data-ng-init='isSplit = item.type === "Agree" || item.type === "Disagree" || item.type === "Pro" || item.type === "Con"')
    .row
      //- Image + user=author icon
      .col-xs-12(data-ng-class='{ "col-sm-4": ! isSplit }')
        h1.is-author
          a(href='/edit/')
            i.fa.fa-user
        div
          +item-image(item)

      //- Subject + description
      .col-xs-12(data-ng-class='{ "col-sm-8": ! isSplit }')
        //- Right buttons + stats
        .box-promoted(data-ng-class='{ "text-right pull-right": ! isSplit, "is-split": isSplit }')
          .row
            div(data-ng-show='is.in = ' + !!isSignedIn
              data-ng-class='{ "col-xs-4": isSplit, "col-xs-12": ! isSplit}')
              a.btn.btn-sm(data-ng-click='view = ((view === "evaluator" && "-") || "evaluator")') Promote

            //- Promoted stat (times)
            div(data-ng-bind=item + '.promotions'
              data-ng-class='{ "col-xs-2": isSplit, "col-xs-12": ! isSplit}')

            //- Promoted stat (percent)
            div(data-ng-bind='(' + item + ' | getPromotedPercentageFilter) + "%"'
              data-ng-class='{ "col-xs-2": isSplit, "col-xs-12": ! isSplit}')

            //- Details button
            div(data-ng-class='{ "col-xs-4": isSplit, "col-xs-12": ! isSplit}')
              a.btn.btn-sm(data-ng-click='view = ((view === "details" && "-") || "details")') &nbsp;Details&nbsp;

        //- Subject     
        h4(data-ng-bind=item + '.subject')

        //- Description
        div.box-description.synapp-more-less.pre-text(data-ng-bind=item + '.description')
