// Meta

//- Encoding
meta(charset='utf-8')

//- Title
title=title || synapp.title

//- IE
meta(http-equiv="X-UA-Compatible" content="IE=edge")

//- Viewport
meta(name="viewport" content="width=device-width, initial-scale=1.0")

//- Meta description
- if ( meta_description )
  meta(name='description' content=meta_description)

//- Env
meta(name="env" content=settings.env)

//- Base
base(href='/')

//- Google Analytics (only in production)

- if ( settings.env === 'production' )
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', "!{synapp['google analytics'].key}", 'auto'); ga('send', 'pageview');

//- Stylesheets
// Stylesheets
block stylesheets

  block stylesheet-normalize
    link(rel='stylesheet' href='/css/normalize.css')

  block stylesheet-vex
    link(rel='stylesheet' href='/assets/vex-2.2.1/css/vex.css')
    link(rel='stylesheet' href='/assets/vex-2.2.1/css/vex-theme-flat-attack.css')

  block css-app
    - if ( settings.env === 'production' )
      link(rel='stylesheet' href='/css/index.min.css')
    
    - else
      link(rel='stylesheet' href='/css/index.css')

  //- Font Awesome
  block stylesheet-font-awesome
    link(rel='stylesheet' 
      href=(( settings.env === 'production' ) ? synapp['font awesome'].cdn : '/bower/font-awesome/css/font-awesome.css' ))

  //- C3 CSS
  block css-c3
    - if ( settings.env === 'production' )
      link(rel='stylesheet' href='/css/c3.min.css')
    
    - else
      link(rel='stylesheet' href='/bower/c3/c3.css')

  //- Toolkit
  block css-toolkit
    link(rel='stylesheet' href='/assets/toolkit/tooltip.css')

  //- goal progress
  block css-goal-progress
    link(rel='stylesheet' href='/bower/goalProgress/goalProgress.css')

  block gooogle-fonts
    link(href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
