//- SCRIPTS
    =======

    All the bottom script tags

// Scripts

//- # pass config public
block script-backend
  script.
    var synapp = !{JSON.stringify(synapp.public)} || {};
    synapp.env = "!{settings.env}";
    synapp.user = "!{_id}";

//- # jQuery

block script-jquery
  - if ( settings.env === 'production')
    script(src=synapp.jquery.cdn)

  - else
    script(src='/bower/jquery/dist/jquery.min.js')

//- # dotdotdot

block script-dotdotdot
  - if ( settings.env === 'production')
    script(src='/bower/jquery.dotdotdot/src/js/jquery.dotdotdot.min.js')

  - else
    script(src='/bower/jquery.dotdotdot/src/js/jquery.dotdotdot.js')

//- # Bootstrap

block script-bootstrap
  - if ( settings.env === 'production' )
    script(src='/dist/js/bootstrap.min.js')
  - else
    script(src='/dist/js/bootstrap.js')

//- # Shims

block script-shims
  script(src='/bower/ng-file-upload-shim/angular-file-upload-shim.js')

//- # Angular

block script-angular
  - if ( settings.env === 'production' )
    script(src=synapp.angular.cdn)

  - else
    script(src='/bower/angular/angular.js')

block script-angular-animate
  - if ( settings.env === 'production' )
    script(src=synapp.angular.animate.cdn)

  - else
    script(src='/bower/angular-animate/angular-animate.js')

//- # Angular apps

block script-file-upload
  - if ( settings.env === 'production' )
    script(src='/bower/ng-file-upload/angular-file-upload.min.js')

  - else
    script(src='/bower/ng-file-upload/angular-file-upload.js')
  
//- block script-autogrow
//-   script(src='/js/angular/autogrow/index.js')

//- # Bootstrap sliders

block script-sliders
  - if ( settings.env === 'production' )
    script(src='/bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')

  - else
    script(src='/bower/seiyria-bootstrap-slider/js/bootstrap-slider.js')

//- block script-moment
//-   script(src='/bower/moment/min/moment.min.js')

block script-d3
  - if ( settings.env === 'production' )
    script(src='/bower/d3/d3.min.js')
  - else
    script(src='/bower/d3/d3.js')

block script-c3
  - if ( settings.env === 'production' )
    script(src='/bower/c3/c3.min.js')
  - else
    script(src='/bower/c3/c3.js')

//- # synapp

block script-app
  - if ( settings.env === 'production' )
    script(src='/dist/js/bundle.min.js')

  - else
    script(src='/dist/js/bundle.js')
