//- SCRIPTS
    =======

    All the bottom script tags

// javascript


//- # pass config public
block script-backend
  script.
    var synapp = !{JSON.stringify(synapp.public)};
    synapp.env = "!{settings.env}";
    synapp.user = "!{(req.user && req.user.id)}";

//- socketio
block script-socketio
  script(src='/socket.io/socket.io.js')

//- # jQuery

block script-jquery
  - if ( settings.env === 'production')
    script(src=synapp.jquery.cdn)

  - else
    script(src='/bower/jquery/dist/jquery.js')

//- # Bootstrap

block script-bootstrap
  - if ( settings.env === 'production' )
    script(src='/js/bootstrap.min.js')
  - else
    script(src='/js/bootstrap.js')

//- # Shims

block script-shims
  //- script(src='/bower/ng-file-upload-shim/angular-file-upload-shim.js')

//- # Angular

block script-angular
  //- - if ( settings.env === 'production' )
  //-   script(src=synapp.angular.cdn)

  //- - else
  //-   script(src='/bower/angular/angular.js')

//- # Angular apps

block script-file-upload
  //- - if ( settings.env === 'production' )
  //-   script(src='/bower/ng-file-upload/angular-file-upload.min.js')

  //- - else
  //-   script(src='/bower/ng-file-upload/angular-file-upload.js')
  
block script-autogrow
  //- script(src='/js/autogrow/index.js')

//- # Bootstrap sliders

block script-sliders
  - if ( settings.env === 'production' )
    script(src='/bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')

  - else
    script(src='/bower/seiyria-bootstrap-slider/js/bootstrap-slider.js')

block script-d3
  - if ( settings.env === 'production' )
    script(src='/bower/d3/d3.min.js')
  - else
    script(src='/bower/d3/d3.js')
    //- script(src='http://d3js.org/d3.v3.min.js' charset='utf-8')

block script-c3
  - if ( settings.env === 'production' )
    script(src='/bower/c3/c3.min.js')
  - else
    script(src='/bower/c3/c3.js')

//- # synapp

block script-app
  - if ( settings.env === 'production' )
    script(src='/js/index.min.js')

  - else
    script(src='/js/index.js')

  //- script(src='/foo/app.js')
