extends ../layout

block page
  h1.center=item.subject

  .row
    - if ( youtube )
      div !{youtube}

    - else if ( item.image )
      img.img-responsive.center-block(src=item.image)

    - else
      img.img-responsive.center-block(src=synapp.public['default item image'])

  .gutter.center-block
    .pre-text.center=item.description

    - if ( item.references && item.references.length )
      h4
        a(href=item.references[0].url rel='nofollow')= item.references[0].title || item.references[0].url
