extends ../layout

block page
  - var regexYouTube = /(youtu\.?be.+v=)([^&]+)/;

  - var youtube;

  - if ( item.references && item.references.length )
    - if ( regexYouTube.test(item.references[0].url) )
      - youtube = item.references[0].url.replace(regexYouTube, '$1');

  h1.center=item.subject

  .row
    - if ( youtube )
      .video-container
        iframe(frameborder="0" width="300" height="175" allowfullscreen src="http://www.youtube.com/embed/" + youtube)

    - else if ( item.image )
      img.img-responsive.center-block(src=item.image)

    - else
      img.img-responsive.center-block(src=synapp.public['default item image'])

  .gutter.center-block
    .pre-text.center=item.description

    - if ( item.references && item.references.length )
      h4.center
        a(href=item.references[0].url rel='nofollow')= item.references[0].title || item.references[0].url
