extends ../layout

block page
  .row
    .col-sm-12.padding
      h1=item.subject

  .row
    .col-sm-4.padding
      - if ( youtube )
        !{youtube}

      - else if ( item.image )
        img.img-responsive(src=item.image)

      - else
        img.img-responsive(src='http://res.cloudinary.com/hscbexf6a/image/upload/e_grayscale,r_8/a_0/v1415921565/xommyldfefjjvetenviv.jpg')

    .col-sm-8.padding
      .pre-text=item.description

      - if ( item.references.length )
        h4
          a(href=item.references[0].url rel='nofollow')= item.references[0].title || item.references[0].url
